<div class="card mb-3">

<div class="card text-white bg-primary mb-3" style="max-width: 25rem;">
  <div class="card-header">每日精选</div>
  <div class="card-body">
    <h5 class="card-title">心灵鸡汤</h5>
    <p class="card-text">不解释的，才叫从容。不执着的，才叫看破。不完美的，才叫人生。用心甘情愿的态度，过随遇而安的生活，你在，世界就在</p>
  </div>
</div>
<div class="card text-white bg-secondary mb-3" style="max-width: 25rem;">
  <div class="card-header">每日精选</div>
  <div class="card-body">
    <h5 class="card-title">每日佳句</h5>
    <p class="card-text">你大可不必担心自己努力了，会不会不优秀。你要担心的是：比你优秀的人还比你更努力。</p>
  </div>
</div>
<div class="card text-white bg-success mb-3" style="max-width: 25rem;">
  <div class="card-header">每日精选</div>
  <div class="card-body">
    <h5 class="card-title">佳句</h5>
    <p class="card-text">如果你觉得自己，整天累得跟狗一样。你真是误会大了，狗根本没有你这么累。人生就跟在跑步机上似的，你已经累吐血了，可是在别人眼里，你还在原地踏步。</p>
  </div>
</div>
<div class="card text-white bg-danger mb-3" style="max-width: 25rem;">
  <div class="card-header">情感鸡汤</div>
  <div class="card-body">
    <h5 class="card-title">精选</h5>
    <p class="card-text">喜欢你的人，总想时刻赖着你；讨厌你的人，只想早点甩掉你；想念你的人，总会主动联系你；敷衍你的人，只会慢慢冷落你。</p>
  </div>
</div>
</div>