{% extends 'base.html' %}
{% from 'macros.html' import form_field %}
{% block head %}
    {{ super() }}
<script src="https://cdn.ckeditor.com/4.10.1/standard/ckeditor.js"></script>
{% endblock %}
{% block title %}发布新分类{% endblock %}
{% block content %}
    <br>
    <div class="page-header">
        <h1>新的分类</h1>
    </div>

    <div class="col-sm-12 post-form form-control">
        <form action="" method="post">
            {{ form.csrf_token }}
            <div class="form-group required">
                {{ form_field(form.name) }}
            </div>
            {{ form.submit(class='btn btn-primary') }}
        </form>
    </div>



{% endblock %}
